*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.container{
    padding: 5% 20%;
}
.flex{
    display: flex;
}
.space-between{
    justify-content: space-between;
}
h1{
    font-size: 55px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    line-height: 5rem;
    margin-bottom: 15px;
}
h2{
    font-size: 45px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}
button{
    color: #fff;
    font-size: 20px;
    background-color: #EF233C;
    padding: 12px 16px;
    margin: 20px 0;
    border: 0px;
    border-radius: 5px;
}

.header{
    padding-top: 15%;
    padding-right: 50%;
}
#top-banner{
    background-image: linear-gradient(90deg,rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.0)), url("images/header-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 95vh;
    color: #fff;
}

.blog_item{
    border-radius: 5px;
    box-shadow: 1px 1px #888;
}
.blog_content{
    padding: 25px 30px;
}

footer{
    color: #D9DBE1;
    background-color: black;
    text-align: center;
    padding: 40px;
}
footer h4{
    color: #EF233C;
}